<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Case07">
        <activity android:name="com.example.medicore.SignUpActivity"></activity>
        <activity android:name="com.example.medicore.SignInActivity" />
        <activity android:name="com.example.medicore.ViewProfileActivity" />
        <activity
            android:name="com.example.medicore.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.medicore.UpdateObatActivity" />
        <activity android:name="com.example.medicore.CreateObatActivity" />
        <activity android:name="com.example.medicore.ViewObatActivity" />
    </application>

</manifest>